@import 'variables';


/*
/*  Small Screens
/****************************/

@media (max-width: 767px) {

  .small-cart-item-title {
    display: block;

    h4 {
      font-size: 12px;
    }

    p {
      font-size: 10px
    }
  }

  .large-cart-item-title { display: none; }
  .large-cart-item-unit-price { display: none; }
}


/*
/*  Big Screens
/****************************/
@media (min-width: 768px) {
  .small-cart-item-title {
    display: none;
  }

  .large-cart-item-unit-price { display: block; }
  .large-cart-item-title {
    display: block;

    h4 {
      font-size: 24px;
    }

    p {
      font-size: 14px
    }
  }
}



.cart-item-image {
  img {
    width: 95%;
  }
}

.cart-row {
  padding-bottom: 10px;
}

.cart-item-quantity {
  input {
    width: 100%;
    margin: 5px inherit;
  }
}

.cart-item-total, .large-cart-item-unit-price {
  padding-top: 5px;
  font-size: 16px;
}

.cart-coupon-form {
  button {
    margin: 10px inherit 5px inherit;
    width: 100%;
  }

  input {
    margin: 10px inherit 5px inherit;
    width: 100%;
  }
}

.cart-checkout-button {

  text-align: center;

  button {
    width: 95%;
    margin: 5px auto;
  }
}

.cart-quantities-update {
  text-align: right;

  .btn {
    margin: 5px auto;
  }
}



.cart-secure-seal {
  text-align: center;
}

.cart-headers {
  div {
    text-align: center;
  }
}
