@import 'variables';

#checkout {

  .btn-success {
    box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: none;
  }
}

ol.progress-steps {

  margin: 10px 0;
  padding: 0;
  overflow: hidden;

  li {
    list-style: none;
    float: left;
    padding: 11px 0;
    width: 24%;
    text-align: center;
  }

}

.white-background {
  background-color: white;
}

@media (min-width: 768px) {
  .checkout-summary {
    position: fixed
  }
}

.checkout-loading {
  opacity: 0.5;
}
